*{
    box-sizing: border-box;
}

body{
    background-image:url(pic/21.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.from{
    border: 1px solid white;
    font-family: 'Lucida Sans';
    border-radius: 50px;
    backdrop-filter: blur(18px);
    width: 380px;
    height: auto;
    padding: 30px;
    color: white;
}
h1{
    text-align: center;
    font-size: 40px;
}
.Email{
    border: 2px solid white;
    background-color:transparent;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;    
}
.Email:hover{
    transform: scale(1.01);
    transition-duration: 0.2s;
}
img{
    width: 25px;
    mix-blend-mode:hue;
}
input{
    width: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
    outline: none;  
}
.Remember1{
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.Remember >input{
    width:30px;
    cursor: pointer;
}
.Remember >input:hover{
    transform: scale(1.5);
    transition-duration: 0.2s ;
}
p{
    font-size: 13px;
}
.Forgot:hover{
    color: black;
    cursor: pointer;
}
.button >input{
    width: 100%;
    padding: 15px;
    background-color:rgba(255, 0, 0, 0.856);
    margin:10px auto;
    color:white;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight:700;
}
.button >input:hover {
    background-color: red;
    cursor: pointer;
    transition-duration: 0.3s;
    transform: scale(1.05);
}
h6{
    text-align: center;
    margin-top:10px;
}
.Register:hover{
    color: blue;
    cursor: pointer;
    transform: scale(1.5);
}

    